/* This is the style of our error messages */
.error {
  font-size: 1.6rem;
  color: white;
  background-color: #900;
  border-radius: 0 0 0.5rem 0.5rem;
  position: absolute;
  box-sizing: border-box;
}

.error.active {
  padding: 0.2rem;
}
